<section data-ng-controller="HomeController">
  <div class="jumbotron">
    <h1 class="text-center">Metode de Dezvoltare Software</h1>
    <h1 class="text-center"><small>Proiectul BAC++</small></h1>
    <div class="text-center">
      <button type="button" class="btn btn-primary btn-md" data-ng-hide="authentication.user">
        <span class="glyphicon glyphicon-star">Inregistreaza-te</span>
      </button>
    </div>
  </div>
  <section>
    <p>
      Proiectul "BAC++" este o platforma care isi propune sa ajute elevii de clasa a XII-a sa se familiarizeze cu formatul exercitiilor de la examenul de bacalaureat, pentru inceput doar la materia informatica.
      Totodata el reprezinta si proiectul pentru Metode de Dezvoltare Software.
      Mai multe detalii gasiti <a href="#">aici</a>.
    </p>
  </section>
</section>
