<section data-ng-controller="TheoryController">
	<div class="page-header">
		<h1 class="text-center">Modul de teorie</h1>
	</div>
	<h3>3 subiecte</h3>
		<ul>
			<li><a href="#!/subiect-1">Subiect 1</a></li>
			<li><a href="#!/subiect-2">Subiect 2</a></li>
			<li><a href="#!/subiect-3">Subiect 3</a></li>
		</ul>

	<!-- <tabset>
		<tab heading="Subiectul 1">
			<h5>Subiectul I are doua exercitii bazate pe teoria limbajului
				<button class="btn btn-default" ng-click="isCollapsedPseudocod = !isCollapsedPseudocod">Pseudocod</button>
				si a
				<button class="btn btn-default" ng-click="isCollapsedCplusplus = !isCollapsedCplusplus">Expresiilor C++</button>
				.
			</h5>
			<div collapse="!isCollapsedPseudocod">
				<div class="well well-lg col-sm-6 subchapters">
					<p>

						echiv alg
						operatori
						alg elementari
						divizibilitate
						numere prime
						cmmdc. alg lui euclid
						deteminare min/max
					</p>
				</div>
			</div>
			<div collapse="!isCollapsedCplusplus">
				<div class="well well-lg col-sm-6 subchapters"><p>
					tipuri de date
					operatori
					functii matematice
					citirea si scrierea datelor
					structuri

				</p>
			</div>
		</div>
	</tab>
	<tab heading="Subiectul 2">
		<h5>Subiectul II cuprinde exercitii bazate pe teoria din
			<button class="btn btn-default" ng-click="isCollapsedFunctii = !isCollapsedFunctii">Functii</button>
			,
			<button class="btn btn-default" ng-click="isCollapsedBacktracking = !isCollapsedBacktracking">Backtracking</button>
			,
			<button class="btn btn-default" ng-click="isCollapsedGrafuri = !isCollapsedGrafuri">Grafuri</button>
			si
			<button class="btn btn-default" ng-click="isCollapsedArbori = !isCollapsedArbori">Arbori</button>
		</h5>
		<div collapse="!isCollapsedPseudocod">
			<div class="well well-lg col-sm-6 subchapters">
				<p>
					echiv alg
					operatori
					alg elementari
					divizibilitate
					numere prime
					cmmdc. alg lui euclid
					deteminare min/max
				</p>
			</div>
		</div>
		<div collapse="!isCollapsedCplusplus">
			<div class="well well-lg col-sm-6 subchapters">
				<p>
					tipuri de date
					operatori
					functii matematice
					citirea si scrierea datelor
					structuri
				</p>
			</div>
		</div>
		<div collapse="!isCollapsedFunctii">
			<div class="well well-lg col-sm-6 subchapters">
				<p>
					echiv alg
					operatori
					alg elementari
					divizibilitate
					numere prime
					cmmdc. alg lui euclid
					deteminare min/max
				</p>
			</div>
		</div>
		<div collapse="!isCollapsedBacktracking">
			<div class="well well-lg col-sm-6 subchapters">
				<p>
					echiv alg
					operatori
					alg elementari
					divizibilitate
					numere prime
					cmmdc. alg lui euclid
					deteminare min/max
				</p>
			</div>
		</div>
		<div collapse="!isCollapsedGrafuri">
			<div class="well well-lg col-sm-6 subchapters">
				<p>
					echiv alg
					operatori
					alg elementari
					divizibilitate
					numere prime
					cmmdc. alg lui euclid
					deteminare min/max
				</p>
			</div>
		</div>
		<div collapse="!isCollapsedArbori">
			<div class="well well-lg col-sm-6 subchapters">
				<p>
					echiv alg
					operatori
					alg elementari
					divizibilitate
					numere prime
					cmmdc. alg lui euclid
					deteminare min/max
				</p>
			</div>
		</div>


	</tab>
	<tab heading="Subiectul 3">
	</tab>

</tabset> -->

</section>
