<section data-ng-controller="FeedbacksController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Feedback</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="title">Titlu</label>
          <div class="controls">
            <input type="text" data-ng-model="feedback.title" id="title" class="form-control" placeholder="Titlu" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for "content">Continut</label>
          <div class="controls">
            <textarea rows="5" data-ng-model="feedback.content" id="content" class="form-control" placeholder="Editeaza feedback-ul"></textarea>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong>{{error}}</strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
